/* Progress bar styles */
.progress-red::-moz-progress-bar,
.progress-red::-webkit-progress-value,
.progress-red::-ms-fill {
    background-color: var(--error-color-red);
}

.progress-green::-moz-progress-bar,
.progress-green::-webkit-progress-value,
.progress-green::-ms-fill {
    background-color: var(--current-color-green);
}

.progress-yellow::-moz-progress-bar,
.progress-yellow::-webkit-progress-value,
.progress-yellow::-ms-fill {
    background-color: var(--warning-color-yellow);
}

.progress-purple::-moz-progress-bar,
.progress-purple::-webkit-progress-value,
.progress-purple::-ms-fill {
    background-color: #603C9B;
}

.progress-bar-bg::-webkit-progress-bar {
    background-color: #e0e0e0;
}

/* Custom progress styles */
.custom-progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2D3748;
    margin-bottom: 16px !important;
}

.custom-status-size {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
    max-width: 400px;
    margin-bottom: 10%;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #E4E4E4;
}

.custom-status-size div:last-child {
    margin-bottom: 10px !important;
}


/* Rounded progress styles */
.is-rounded-progress {
    border-style: solid;
    border-width: 4px;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-repeat: stretch;
    border-image-outset: 2;
    margin: 1px;
}

/* Responsive styles */
@media (max-width: 320px) {
    .custom-progress p {
        margin-left: 6px;
        width: 30%;
    }

    .progress-bar-bg {
        width: 70%;
    }
}

/* Adjust height to 90% */
.character-page-background {
    height: 90vh;
}